.social-links {
    text-align: center;
}
.social-links .fa {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover {
    background: #009688;
    color: white;
    transform: translateY(-7px);
}
.social-links p {
    font-size: 12px;
    margin-top: 20px;
}
@media screen and (max-width: 770px) {
    .footer-left, .footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img {
        top: 25%;
    }
}

nav .container {
    justify-items: start;
}
footer {
    height: 150px;
    background: #232943;
    color: white;
    display: flex;
    align-items: center;
}

footer .content {
    width: 99%;
    max-width: 1000px;
    margin: auto;
}
footer .social {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;;
}
footer .icon {
    width: 30px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
footer img {
    width: 15px;
    height: 15px;
}
footer p {
    opacity: 0.9;
}