main {
    display: flex;
    flex-wrap: wrap;
  
#testimonial {
    width: 100%;
    padding: 50px 0;

}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col {
    flex-basis: 28%;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: white;
   
.testimonial-col p {
    font-size: 14px;
}
}
h4, h2, p {
    background-position: center;
    width: 100%;
    color: black;
    text-align:center;
    padding: 10px;
}
article {
    height: 200px;
    color: white;
    display: flex;
    position: relative;
    align-items: center;

}
article:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

article .content {
    width: 80%;
    margin: auto;
    color: white;

}

article .content p {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 3px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;
 }
.article-1 {
    background-position: center;
    background-size: cover;
    width: 50%;
    height: auto;
}
.article-2 {
    background: url(../images/bg-showcase-1.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
}
.article-3 {
    background: url(../images/bg-showcase-2.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
}
.article-4 {
    background-position: center;
    background-size: cover;
    width: 50%;
}
.article-5 {
    background-position: center;
    background-size: cover;
    width: 50%;
}
.article-6 {
    background: url(../images/bg-showcase-3.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
}

}
.column, h2, p {
    text-align: center;
    padding: 20px;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }